.container {
    flex: 1;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.pageTitle {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;

    color: #313037;
    margin-bottom: 40px;
}
.activePage{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: #2231AA;
}

.orderingBlock {
    display: flex;
    gap:10px;
    padding: 10px;
}

.clicked {
    background-color:red;
}

.paginationContainer{
    margin:72px 0 72px 0;
    display: flex;
    gap:10px;
    justify-content: space-between;
}

.prev, .next{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #313037;
    cursor: pointer;
}

.prev:hover, .next:hover{
    color: #2231AA;
}

.pagesList{
    display: flex;
    gap: 5px;
}

.page {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;

}
.page:hover {
    color: #2231AA;
}